body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  color:rgb(163, 53, 163);
}

